[submodule "strings"]
	path = strings
	url = git@github.com:ilpenSE/strings.git
[submodule "either.h"]
	path = either.h
	url = git@github.com:ilpenSE/either.h.git
[submodule "vectors"]
	path = vectors
	url = git@github.com:ilpenSE/vector.h.git
[submodule "commandapi"]
	path = commandapi
	url = git@github.com:ilpenSE/cmdapi.h
