[submodule "ilpenjson"]
	path = ilpenjson
	url = https://github.com/ilpenSE/ilpenjson.git
[submodule "Logger"]
	path = Logger
	url = git@github.com:ilpenSE/loggercpp.git
[submodule "LoggerDepr"]
	path = LoggerDepr
	url = git@github.com:ilpenSE/logger
	branch = deprecated
[submodule "strings"]
	path = strings
	url = git@github.com:ilpenSE/str.h.git
[submodule "eithers"]
	path = eithers
	url = git@github.com:ilpenSE/either.h.git
